### Preparation of Combined Leagues Goal Kicks csv for modelling' 
#### Clean, feature selection, add expanding means, save

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # stops the slice default='warn' appearing

%matplotlib inline

In [2]:
df1 = pd.read_csv(r"C:\Users\MikeD\Documents\Betting\Football-Data-Combined\FS_Leagues_Data_Combined.csv", index_col=0)

In [3]:
df1.tail()

,homeID,awayID,season,game_week,homeGoalCount,awayGoalCount,totalGoalCount,team_a_corners,team_b_corners,totalCornerCount,team_a_offsides,team_b_offsides,team_a_yellow_cards,team_b_yellow_cards,team_a_red_cards,team_b_red_cards,team_a_shotsOnTarget,team_b_shotsOnTarget,team_a_shotsOffTarget,team_b_shotsOffTarget,team_a_shots,team_b_shots,team_a_fouls,team_b_fouls,team_a_possession,team_b_possession,refereeID,coach_a_ID,coach_b_ID,stadium_name,stadium_location,team_a_cards_num,team_b_cards_num,odds_ft_1,odds_ft_x,odds_ft_2,odds_ft_over25,odds_corners_over_85,odds_corners_1,odds_corners_x,odds_corners_2,odds_team_to_score_first_1,odds_team_to_score_first_x,odds_team_to_score_first_2,odds_win_to_nil_1,odds_win_to_nil_2,odds_1st_half_over05,odds_1st_half_over15,odds_1st_half_over25,odds_1st_half_over35,odds_1st_half_under05,odds_1st_half_under15,odds_1st_half_under25,odds_1st_half_under35,odds_2nd_half_over05,odds_2nd_half_over15,odds_2nd_half_over25,odds_2nd_half_over35,odds_2nd_half_under05,odds_2nd_half_under15,odds_2nd_half_under25,odds_2nd_half_under35,overallGoalCount,ht_goals_team_a,ht_goals_team_b,goals_2hg_team_a,goals_2hg_team_b,GoalCount_2hg,HTGoalCount,date_unix,attendance,corner_timings_recorded,card_timings_recorded,team_a_fh_corners,team_b_fh_corners,team_a_2h_corners,team_b_2h_corners,corner_fh_count,corner_2h_count,team_a_fh_cards,team_b_fh_cards,team_a_2h_cards,team_b_2h_cards,total_fh_cards,total_2h_cards,attacks_recorded,team_a_dangerous_attacks,team_b_dangerous_attacks,team_a_attacks,team_b_attacks,team_a_xg,team_b_xg,total_xg,team_a_penalties_won,team_b_penalties_won,team_a_penalty_goals,team_b_penalty_goals,team_a_penalty_missed,team_b_penalty_missed,pens_recorded,goal_timings_recorded,team_a_0_10_min_goals,team_b_0_10_min_goals,team_a_corners_0_10_min,team_b_corners_0_10_min,team_a_cards_0_10_min,team_b_cards_0_10_min,throwins_recorded,team_a_throwins,team_b_throwins,freekicks_recorded,team_a_freekicks,team_b_freekicks,goalkicks_recorded,team_a_goalkicks,team_b_goalkicks,avg_potential,home_name,away_name,home_ppg,away_ppg,pre_match_home_ppg,pre_match_away_ppg,pre_match_teamA_overall_ppg,pre_match_teamB_overall_ppg,competition_id,homeGoals_timings,awayGoals_timings
NaN,NaN,NaN,2023/2024,NaN,2,0,2,7,2,9,1,2,1,1,0,0,6,3,13,4,19,7,8,10,52,48,NaN,NaN,NaN,Merkur Arena (Graz),NaN,1,1,1.30,4.80,8.00,1.57,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,2,0,2,0,1716130800,582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,25,96,108,2.09,0.85,2.94,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,26,30,-1,-1,-1,1,6,14,NaN,Sturm Graz,Austria Klagenfurt,NaN,NaN,NaN,NaN,NaN,NaN,9954,"['69', '90']",[]
NaN,NaN,NaN,2023/2024,NaN,0,3,3,8,1,9,1,1,1,0,0,0,3,7,9,3,12,10,12,12,54,46,NaN,NaN,NaN,Allianz Stadion (Wien),NaN,1,0,1.67,3.80,4.20,1.61,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0,1,0,2,2,1,1716130800,599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,29,106,59,1.31,1.33,2.64,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,23,20,-1,-1,-1,1,3,8,NaN,Rapid Wien,Hartberg,NaN,NaN,NaN,NaN,NaN,NaN,9954,[],"['25', '59', '90+2']"
NaN,NaN,NaN,2023/2024,NaN,1,2,3,2,6,8,3,6,2,3,0,0,4,5,5,12,9,17,12,16,45,55,NaN,NaN,NaN,Lavanttal Arena (Wolfsberg),NaN,2,3,3.30,3.40,2.29,2.03,3.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0,1,1,1,2,1,1716310800,579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,68,95,124,1.22,1.92,3.14,0,0,0,0,0,0,1,1,0,1,0,1,0,0,1,19,31,-1,-1,-1,1,0,1,NaN,Wolfsberger AC,Austria Wien,NaN,NaN,NaN,NaN,NaN,NaN,9954,['64'],"['8', '90+4']"
NaN,NaN,NaN,2023/2024,NaN,2,1,3,7,3,10,4,1,2,2,0,0,7,7,9,3,16,10,12,4,40,60,NaN,NaN,NaN,Generali Arena (Wien),"Fischhofgasse 14, Wien",2,2,1.80,4.08,4.24,1.64,2.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,2,1,3,0,1716571800,579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,36,103,107,1.88,1.39,3.27,1,0,1,0,0,0,1,1,0,0,-1,-1,0,0,1,20,17,-1,-1,-1,1,0,1,NaN,Austria Wien,Hartberg,NaN,NaN,NaN,NaN,NaN,NaN,9954,"['51', '58']",['84']
NaN,NaN,NaN,2023/2024,NaN,0,1,1,5,6,11,1,2,3,4,0,1,4,6,7,2,11,8,8,14,62,38,NaN,NaN,NaN,PROfertil ARENA (Hartberg),NaN,3,5,3.30,3.91,1.99,1.71,2.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0,0,0,1,1716915600,579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74,62,96,90,1.51,1.38,2.89,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,29,16,-1,-1,-1,-1,-1,-1,NaN,Hartberg,Austria Wien,NaN,NaN,NaN,NaN,NaN,NaN,9954,[],['39']

In [4]:
for col in df1:
    print(col)

homeID
awayID
season
game_week
homeGoalCount
awayGoalCount
totalGoalCount
team_a_corners
team_b_corners
totalCornerCount
team_a_offsides
team_b_offsides
team_a_yellow_cards
team_b_yellow_cards
team_a_red_cards
team_b_red_cards
team_a_shotsOnTarget
team_b_shotsOnTarget
team_a_shotsOffTarget
team_b_shotsOffTarget
team_a_shots
team_b_shots
team_a_fouls
team_b_fouls
team_a_possession
team_b_possession
refereeID
coach_a_ID
coach_b_ID
stadium_name
stadium_location
team_a_cards_num
team_b_cards_num
odds_ft_1
odds_ft_x
odds_ft_2
odds_ft_over25
odds_corners_over_85
odds_corners_1
odds_corners_x
odds_corners_2
odds_team_to_score_first_1
odds_team_to_score_first_x
odds_team_to_score_first_2
odds_win_to_nil_1
odds_win_to_nil_2
odds_1st_half_over05
odds_1st_half_over15
odds_1st_half_over25
odds_1st_half_over35
odds_1st_half_under05
odds_1st_half_under15
odds_1st_half_under25
odds_1st_half_under35
odds_2nd_half_over05
odds_2nd_half_over15
odds_2nd_half_over25
odds_2nd_half_over35
odds_2nd_half_under05
odds_2nd_half_under15
odds_2nd_half_under25
odds_2nd_half_under35
overallGoalCount
ht_goals_team_a
ht_goals_team_b
goals_2hg_team_a
goals_2hg_team_b
GoalCount_2hg
HTGoalCount
date_unix
attendance
corner_timings_recorded
card_timings_recorded
team_a_fh_corners
team_b_fh_corners
team_a_2h_corners
team_b_2h_corners
corner_fh_count
corner_2h_count
team_a_fh_cards
team_b_fh_cards
team_a_2h_cards
team_b_2h_cards
total_fh_cards
total_2h_cards
attacks_recorded
team_a_dangerous_attacks
team_b_dangerous_attacks
team_a_attacks
team_b_attacks
team_a_xg
team_b_xg
total_xg
team_a_penalties_won
team_b_penalties_won
team_a_penalty_goals
team_b_penalty_goals
team_a_penalty_missed
team_b_penalty_missed
pens_recorded
goal_timings_recorded
team_a_0_10_min_goals
team_b_0_10_min_goals
team_a_corners_0_10_min
team_b_corners_0_10_min
team_a_cards_0_10_min
team_b_cards_0_10_min
throwins_recorded
team_a_throwins
team_b_throwins
freekicks_recorded
team_a_freekicks
team_b_freekicks
goalkicks_recorded
team_a_goalkicks
team_b_goalkicks
avg_potential
home_name
away_name
home_ppg
away_ppg
pre_match_home_ppg
pre_match_away_ppg
pre_match_teamA_overall_ppg
pre_match_teamB_overall_ppg
competition_id
homeGoals_timings
awayGoals_timings

In [5]:
# cols required for offsides 
df2 = df1[['competition_id',
           'date_unix',
           'home_name',
           'away_name', 
           'season',
           'odds_ft_1',
           'odds_ft_x',
           'odds_ft_2',
           'odds_ft_over25',
           'team_a_goalkicks',
           'team_b_goalkicks']]

In [6]:
df3 = df2.loc[(df2['team_a_goalkicks'] > -1) & (df2['team_b_goalkicks'] > -1)]

In [7]:
df3.shape

(8208, 11)

In [8]:
df3.describe()

,competition_id,date_unix,odds_ft_1,odds_ft_x,odds_ft_2,odds_ft_over25,team_a_goalkicks,team_b_goalkicks
count,8208.000000,8.208000e+03,8208.000000,8208.000000,8208.000000,8208.000000,8208.000000,8208.000000
mean,8213.144493,1.680979e+09,2.640987,3.872917,3.916383,1.841260,5.447490,6.319932
std,2238.513297,4.182590e+07,1.699863,1.106579,2.894994,0.302526,4.004892,4.534017
min,161.000000,1.502477e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7573.000000,1.680962e+09,1.750000,3.300000,2.350000,1.620000,1.000000,2.000000
50%,9545.000000,1.693135e+09,2.200000,3.580000,3.100000,1.810000,5.000000,7.000000
75%,9660.000000,1.705247e+09,2.900000,4.000000,4.350000,2.010000,8.000000,9.000000
max,9954.000000,1.719160e+09,28.000000,16.810000,42.750000,7.300000,45.000000,43.000000

In [9]:
df3.duplicated().sum()

108

In [10]:
df4 = df3.drop_duplicates()

In [11]:
df4.duplicated().sum()

0

In [12]:
df4 = df4.loc[(df4['odds_ft_1'] > 1.05)]
df4 = df4.loc[(df4['odds_ft_x'] > 2.3)]
df4 = df4.loc[(df4['odds_ft_2'] > 1.1)]

In [13]:
df4.describe()

,competition_id,date_unix,odds_ft_1,odds_ft_x,odds_ft_2,odds_ft_over25,team_a_goalkicks,team_b_goalkicks
count,8046.000000,8.046000e+03,8046.000000,8046.000000,8046.000000,8046.000000,8046.000000,8046.000000
mean,8225.964206,1.681010e+09,2.628612,3.881458,3.909211,1.840096,5.417475,6.292816
std,2250.053564,4.209400e+07,1.605273,1.062636,2.841925,0.293303,3.998737,4.538683
min,161.000000,1.502477e+09,1.060000,2.310000,1.110000,0.000000,0.000000,0.000000
25%,7586.000000,1.681016e+09,1.750000,3.300000,2.350000,1.620000,1.000000,2.000000
50%,9553.000000,1.693591e+09,2.200000,3.600000,3.100000,1.800000,5.000000,6.000000
75%,9660.000000,1.705763e+09,2.900000,4.000000,4.350000,2.010000,8.000000,9.000000
max,9954.000000,1.719160e+09,25.000000,15.750000,42.750000,3.200000,45.000000,43.000000

In [14]:
df4.shape

(8046, 11)

In [15]:
df4.competition_id.unique()

array([7704, 7665, 7608, 7500, 7664, 6135, 6211, 4759, 4944, 2012, 2319,
       4392, 1625, 1677,  161,  171, 7593, 7499, 7731, 8737, 8739, 7570,
       7864, 7428, 7592, 6089, 6017, 4912, 4845, 2187, 2191, 2642, 2415,
       1624, 1564,  165,  183, 7482, 7501, 7574, 8595, 7426, 7544, 7494,
       7768, 7504, 5951, 6015, 5992, 4844, 2192, 1936, 2249, 1574, 1600,
       1712, 8810, 7890, 8935, 7586, 7663, 7954, 8899, 7425, 6037, 6969,
       4764, 5674, 5506, 4507, 2240, 4379, 1864, 1862, 7573, 5934, 9660,
       9663, 9665, 9697, 9655, 9674, 9656, 9582, 9808, 9553, 9675, 9653,
       9621, 9581, 9545, 9577, 9636, 9913, 9580, 9954], dtype=int64)

In [16]:
competition_counts = df4['competition_id'].value_counts()

for competition_id, count in competition_counts.items():
    print(f"Competition ID: {competition_id}, Count: {count}")

Competition ID: 9660, Count: 379
Competition ID: 9665, Count: 379
Competition ID: 9697, Count: 378
Competition ID: 9655, Count: 305
Competition ID: 9674, Count: 304
Competition ID: 9653, Count: 303
Competition ID: 8810, Count: 256
Competition ID: 9553, Count: 250
Competition ID: 9581, Count: 249
Competition ID: 7573, Count: 235
Competition ID: 9582, Count: 231
Competition ID: 4759, Count: 225
Competition ID: 7704, Count: 221
Competition ID: 8899, Count: 220
Competition ID: 9675, Count: 214
Competition ID: 9663, Count: 208
Competition ID: 8739, Count: 201
Competition ID: 2012, Count: 196
Competition ID: 9545, Count: 190
Competition ID: 9808, Count: 181
Competition ID: 6135, Count: 180
Competition ID: 1625, Count: 168
Competition ID: 161, Count: 148
Competition ID: 9656, Count: 128
Competition ID: 7608, Count: 125
Competition ID: 7665, Count: 123
Competition ID: 9577, Count: 120
Competition ID: 9913, Count: 119
Competition ID: 9580, Count: 116
Competition ID: 7500, Count: 116
Competition ID: 7428, Count: 108
Competition ID: 7664, Count: 103
Competition ID: 7482, Count: 100
Competition ID: 9621, Count: 100
Competition ID: 8737, Count: 93
Competition ID: 7592, Count: 88
Competition ID: 5934, Count: 82
Competition ID: 7663, Count: 80
Competition ID: 8595, Count: 80
Competition ID: 7426, Count: 77
Competition ID: 7504, Count: 70
Competition ID: 9954, Count: 57
Competition ID: 7586, Count: 54
Competition ID: 7425, Count: 47
Competition ID: 8935, Count: 46
Competition ID: 7864, Count: 44
Competition ID: 4392, Count: 40
Competition ID: 7501, Count: 38
Competition ID: 7499, Count: 32
Competition ID: 7768, Count: 31
Competition ID: 7731, Count: 28
Competition ID: 7890, Count: 23
Competition ID: 7544, Count: 23
Competition ID: 7954, Count: 22
Competition ID: 6037, Count: 8
Competition ID: 6015, Count: 6
Competition ID: 4912, Count: 5
Competition ID: 6017, Count: 5
Competition ID: 4845, Count: 5
Competition ID: 2187, Count: 5
Competition ID: 6089, Count: 5
Competition ID: 165, Count: 5
Competition ID: 1624, Count: 5
Competition ID: 7570, Count: 5
Competition ID: 7593, Count: 5
Competition ID: 4844, Count: 5
Competition ID: 7574, Count: 5
Competition ID: 9636, Count: 4
Competition ID: 7494, Count: 4
Competition ID: 2642, Count: 3
Competition ID: 5992, Count: 3
Competition ID: 6211, Count: 2
Competition ID: 2240, Count: 2
Competition ID: 2319, Count: 2
Competition ID: 171, Count: 2
Competition ID: 4379, Count: 1
Competition ID: 1600, Count: 1
Competition ID: 4944, Count: 1
Competition ID: 5951, Count: 1
Competition ID: 2192, Count: 1
Competition ID: 1677, Count: 1
Competition ID: 1936, Count: 1
Competition ID: 2249, Count: 1
Competition ID: 1574, Count: 1
Competition ID: 1712, Count: 1
Competition ID: 1864, Count: 1
Competition ID: 183, Count: 1
Competition ID: 1564, Count: 1
Competition ID: 6969, Count: 1
Competition ID: 4764, Count: 1
Competition ID: 5674, Count: 1
Competition ID: 2191, Count: 1
Competition ID: 5506, Count: 1
Competition ID: 2415, Count: 1
Competition ID: 1862, Count: 1
Competition ID: 4507, Count: 1

In [17]:
# remove competitions with less than 100 matches

# Get competition_ids where the count is less than 100
filtered_competition_ids = competition_counts[competition_counts < 100].index

# Remove rows with competition_ids that have count less than 100
df4 = df4[~df4['competition_id'].isin(filtered_competition_ids)]

In [18]:
df4.shape

(6879, 11)

In [19]:
df4['HW_%'] = round((1/df4['odds_ft_1']) / (1/df4['odds_ft_1'] + 1/df4['odds_ft_x'] + 1/df4['odds_ft_2']),2)  # Add a column giving the Home Win % (HW_%)
df4['X_%'] = round((1/df4['odds_ft_x']) / (1/df4['odds_ft_1'] + 1/df4['odds_ft_x'] + 1/df4['odds_ft_2']),2) # Draw %
df4['AW_%'] = round((1/df4['odds_ft_2']) / (1/df4['odds_ft_1'] + 1/df4['odds_ft_x'] + 1/df4['odds_ft_2']),2) # Away %

In [20]:
df4['odds_ft_under25'] = 1/(1.07 - 1/df4['odds_ft_over25'])

In [21]:
df4['O_2.5_%'] = round(1/df4['odds_ft_over25'] / (1/df4['odds_ft_over25'] + 1/df4['odds_ft_under25']),2)
df4['U_2.5_%'] = round(1/df4['odds_ft_under25'] / (1/df4['odds_ft_over25'] + 1/df4['odds_ft_under25']),2)

In [22]:
df4.drop(['odds_ft_1', 'odds_ft_x', 'odds_ft_2', 'odds_ft_over25', 'odds_ft_under25'], axis = 1, inplace=True)

In [23]:
df4.head()

,competition_id,date_unix,home_name,away_name,season,team_a_goalkicks,team_b_goalkicks,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%
0.0,7704,1659726000,Crystal Palace,Arsenal,2022/2023,4,2,0.28,0.27,0.45,0.49,0.51
1.0,7704,1659785400,Fulham,Liverpool,2022/2023,7,5,0.11,0.18,0.72,0.56,0.44
6.0,7704,1659803400,Everton,Chelsea,2022/2023,5,7,0.18,0.24,0.59,0.50,0.50
8.0,7704,1659877200,Manchester United,Brighton & Hove Albion,2022/2023,10,11,0.59,0.23,0.18,0.49,0.51
9.0,7704,1659886200,West Ham United,Manchester City,2022/2023,11,5,0.11,0.18,0.70,0.56,0.44

In [24]:
# add date column
from datetime import datetime

# Convert Unix timestamps to datetime objects
df4['date_unix'] = pd.to_datetime(df4['date_unix'], unit='s')

# Convert datetime objects to the desired date format (dd/mm/yyyy)
df4['date'] = df4['date_unix'].dt.strftime('%d/%m/%Y')
df4.drop(['date_unix'], axis=1, inplace=True)
df4.head()

,competition_id,home_name,away_name,season,team_a_goalkicks,team_b_goalkicks,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date
0.0,7704,Crystal Palace,Arsenal,2022/2023,4,2,0.28,0.27,0.45,0.49,0.51,05/08/2022
1.0,7704,Fulham,Liverpool,2022/2023,7,5,0.11,0.18,0.72,0.56,0.44,06/08/2022
6.0,7704,Everton,Chelsea,2022/2023,5,7,0.18,0.24,0.59,0.50,0.50,06/08/2022
8.0,7704,Manchester United,Brighton & Hove Albion,2022/2023,10,11,0.59,0.23,0.18,0.49,0.51,07/08/2022
9.0,7704,West Ham United,Manchester City,2022/2023,11,5,0.11,0.18,0.70,0.56,0.44,07/08/2022

In [25]:
# Overlay Sup and goal exp

In [26]:
dfOU = pd.read_csv('C:/Users/MikeD/Documents/Betting/OverUnder_Exp.csv', index_col=False)
dfOU

     Exp1  Under  Over  Un2.5_%  Ov2.5_%   Exp
0    1.64   1.29  4.45     0.78     0.22  1.64
1    1.66   1.30  4.33     0.77     0.23  1.66
2    1.68   1.31  4.23     0.76     0.24  1.68
3    1.70   1.32  4.13     0.76     0.24  1.70
4    1.73   1.33  4.03     0.75     0.25  1.73
..    ...    ...   ...      ...      ...   ...
222  4.94   7.67  1.15     0.13     0.87  4.94
223  5.03   8.14  1.14     0.12     0.88  5.03
224  5.12   8.69  1.13     0.12     0.88  5.12
225  5.23   9.33  1.12     0.11     0.89  5.23
226  5.34  10.09  1.11     0.10     0.90  5.34

[227 rows x 6 columns]

In [27]:
dfOU = dfOU.drop(['Exp1','Under','Over', 'Un2.5_%'], axis = 1)
dfOU.drop_duplicates(subset='Ov2.5_%', inplace = True)
dfOU

     Ov2.5_%   Exp
0       0.22  1.64
1       0.23  1.66
2       0.24  1.68
4       0.25  1.73
6       0.26  1.77
..       ...   ...
221     0.86  4.85
222     0.87  4.94
223     0.88  5.03
225     0.89  5.23
226     0.90  5.34

[69 rows x 2 columns]

In [28]:
dfOU.rename(columns = {'Ov2.5_%':'O_2.5_%'}, inplace=True)
#df5 = pd.merge(left=df4, right = dfOU, how='left')

In [29]:
df5 = pd.merge(left=df4, right = dfOU, how='left')

In [30]:
df5.head()

,competition_id,home_name,away_name,season,team_a_goalkicks,team_b_goalkicks,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp
0,7704,Crystal Palace,Arsenal,2022/2023,4,2,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62
1,7704,Fulham,Liverpool,2022/2023,7,5,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94
2,7704,Everton,Chelsea,2022/2023,5,7,0.18,0.24,0.59,0.50,0.50,06/08/2022,2.66
3,7704,Manchester United,Brighton & Hove Albion,2022/2023,10,11,0.59,0.23,0.18,0.49,0.51,07/08/2022,2.62
4,7704,West Ham United,Manchester City,2022/2023,11,5,0.11,0.18,0.70,0.56,0.44,07/08/2022,2.94

In [31]:
# add home/away exp goals
df5['HG_Exp'] = round((df5['Exp']) * (df5['HW_%'] + 0.5 * df5['X_%']),2)
df5['AG_Exp'] = round((df5['Exp']) * (df5['AW_%'] + 0.5 * df5['X_%']),2)
df5['Sup Exp'] = df5['HG_Exp'] - df5['AG_Exp']
df5.head()

,competition_id,home_name,away_name,season,team_a_goalkicks,team_b_goalkicks,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp
0,7704,Crystal Palace,Arsenal,2022/2023,4,2,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62,1.09,1.53,-0.44
1,7704,Fulham,Liverpool,2022/2023,7,5,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94,0.59,2.38,-1.79
2,7704,Everton,Chelsea,2022/2023,5,7,0.18,0.24,0.59,0.50,0.50,06/08/2022,2.66,0.80,1.89,-1.09
3,7704,Manchester United,Brighton & Hove Albion,2022/2023,10,11,0.59,0.23,0.18,0.49,0.51,07/08/2022,2.62,1.85,0.77,1.08
4,7704,West Ham United,Manchester City,2022/2023,11,5,0.11,0.18,0.70,0.56,0.44,07/08/2022,2.94,0.59,2.32,-1.73

In [32]:
df6 = df5.copy()

In [33]:
# Calculate the league running average of 'team_a/b_offsides' column on a competition_id 
df6['h_lg_r_av'] = round(df6.groupby('competition_id')['team_a_goalkicks'].transform(lambda x: x.shift(1).expanding().mean()),2)
df6['a_lg_r_av'] = round(df6.groupby('competition_id')['team_b_goalkicks'].transform(lambda x: x.shift(1).expanding().mean()),2)

In [34]:
# Calculate team running averages
def running_average(series):
    return series.expanding().mean().shift()

# Create running averages for when home team is in home_name column
df6['ht_h_r_av_f'] = round(df6.groupby(['competition_id', 'home_name'])['team_a_goalkicks'].apply(running_average), 2)
df6['ht_h_r_av_ag'] = round(df6.groupby(['competition_id', 'home_name'])['team_b_goalkicks'].apply(running_average), 2)

# Create running averages for when away team is in away_name column
df6['at_a_r_av_f'] = round(df6.groupby(['competition_id', 'away_name'])['team_b_goalkicks'].apply(running_average), 2)
df6['at_a_r_av_ag'] = round(df6.groupby(['competition_id', 'away_name'])['team_a_goalkicks'].apply(running_average), 2)

In [35]:
df6.reset_index(drop=True,inplace=True)
df6.head()

,competition_id,home_name,away_name,season,team_a_goalkicks,team_b_goalkicks,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp,h_lg_r_av,a_lg_r_av,ht_h_r_av_f,ht_h_r_av_ag,at_a_r_av_f,at_a_r_av_ag
0,7704,Crystal Palace,Arsenal,2022/2023,4,2,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62,1.09,1.53,-0.44,NaN,NaN,NaN,NaN,NaN,NaN
1,7704,Fulham,Liverpool,2022/2023,7,5,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94,0.59,2.38,-1.79,4.00,2.00,NaN,NaN,NaN,NaN
2,7704,Everton,Chelsea,2022/2023,5,7,0.18,0.24,0.59,0.50,0.50,06/08/2022,2.66,0.80,1.89,-1.09,5.50,3.50,NaN,NaN,NaN,NaN
3,7704,Manchester United,Brighton & Hove Albion,2022/2023,10,11,0.59,0.23,0.18,0.49,0.51,07/08/2022,2.62,1.85,0.77,1.08,5.33,4.67,NaN,NaN,NaN,NaN
4,7704,West Ham United,Manchester City,2022/2023,11,5,0.11,0.18,0.70,0.56,0.44,07/08/2022,2.94,0.59,2.32,-1.73,6.50,6.25,NaN,NaN,NaN,NaN

In [36]:
df6.head(35)

,competition_id,home_name,away_name,season,team_a_goalkicks,team_b_goalkicks,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp,h_lg_r_av,a_lg_r_av,ht_h_r_av_f,ht_h_r_av_ag,at_a_r_av_f,at_a_r_av_ag
0,7704,Crystal Palace,Arsenal,2022/2023,4,2,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62,1.09,1.53,-0.44,NaN,NaN,NaN,NaN,NaN,NaN
1,7704,Fulham,Liverpool,2022/2023,7,5,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94,0.59,2.38,-1.79,4.00,2.00,NaN,NaN,NaN,NaN
2,7704,Everton,Chelsea,2022/2023,5,7,0.18,0.24,0.59,0.50,0.50,06/08/2022,2.66,0.80,1.89,-1.09,5.50,3.50,NaN,NaN,NaN,NaN
3,7704,Manchester United,Brighton & Hove Albion,2022/2023,10,11,0.59,0.23,0.18,0.49,0.51,07/08/2022,2.62,1.85,0.77,1.08,5.33,4.67,NaN,NaN,NaN,NaN
4,7704,West Ham United,Manchester City,2022/2023,11,5,0.11,0.18,0.70,0.56,0.44,07/08/2022,2.94,0.59,2.32,-1.73,6.50,6.25,NaN,NaN,NaN,NaN
5,7704,Aston Villa,Everton,2022/2023,1,6,0.47,0.27,0.26,0.48,0.52,13/08/2022,2.60,1.57,1.03,0.54,7.40,6.00,NaN,NaN,NaN,NaN
6,7704,Brentford,Manchester United,2022/2023,12,6,0.25,0.27,0.47,0.52,0.48,13/08/2022,2.76,1.06,1.67,-0.61,6.33,6.00,NaN,NaN,NaN,NaN
7,7704,Nottingham Forest,West Ham United,2022/2023,10,5,0.22,0.28,0.50,0.49,0.51,14/08/2022,2.62,0.94,1.68,-0.74,7.14,6.00,NaN,NaN,NaN,NaN
8,7704,Chelsea,Tottenham Hotspur,2022/2023,5,11,0.42,0.28,0.30,0.53,0.47,14/08/2022,2.79,1.56,1.23,0.33,7.50,5.88,NaN,NaN,NaN,NaN
9,7704,Liverpool,Crystal Palace,2022/2023,5,16,0.79,0.15,0.06,0.58,0.42,15/08/2022,3.03,2.62,0.41,2.21,7.22,6.44,NaN,NaN,NaN,NaN
10,7704,Tottenham Hotspur,Wolverhampton Wanderers,2022/2023,8,10,0.68,0.19,0.12,0.55,0.45,20/08/2022,2.89,2.24,0.62,1.62,7.00,7.40,NaN,NaN,NaN,NaN
11,7704,AFC Bournemouth,Arsenal,2022/2023,7,4,0.16,0.24,0.59,0.52,0.48,20/08/2022,2.76,0.77,1.96,-1.19,7.09,7.64,NaN,NaN,2.00,4.00
12,7704,Leeds United,Chelsea,2022/2023,7,7,0.17,0.23,0.60,0.51,0.49,21/08/2022,2.71,0.77,1.94,-1.17,7.08,7.33,NaN,NaN,7.00,5.00
13,7704,Newcastle United,Manchester City,2022/2023,4,5,0.13,0.19,0.68,0.59,0.41,21/08/2022,3.06,0.69,2.37,-1.68,7.08,7.31,NaN,NaN,5.00,11.00
14,7704,Manchester United,Liverpool,2022/2023,16,4,0.19,0.22,0.59,0.62,0.38,22/08/2022,3.16,0.95,2.21,-1.26,6.86,7.14,10.0,11.0,5.00,7.00
15,7704,Southampton,Manchester United,2022/2023,4,13,0.28,0.26,0.46,0.56,0.44,27/08/2022,2.94,1.21,1.73,-0.52,7.47,6.93,NaN,NaN,6.00,12.00
16,7704,Arsenal,Fulham,2022/2023,10,10,0.71,0.18,0.11,0.60,0.40,27/08/2022,3.10,2.48,0.62,1.86,7.25,7.31,NaN,NaN,NaN,NaN
17,7704,Wolverhampton Wanderers,Newcastle United,2022/2023,3,4,0.35,0.30,0.36,0.46,0.54,28/08/2022,2.53,1.26,1.29,-0.03,7.41,7.47,NaN,NaN,NaN,NaN
18,7704,Nottingham Forest,Tottenham Hotspur,2022/2023,9,10,0.19,0.25,0.56,0.54,0.46,28/08/2022,2.84,0.89,1.95,-1.06,7.17,7.28,10.0,5.0,11.00,5.00
19,7704,Leeds United,Everton,2022/2023,2,11,0.49,0.26,0.25,0.47,0.53,30/08/2022,2.56,1.59,0.97,0.62,7.26,7.42,7.0,7.0,6.00,1.00
20,7704,Liverpool,Newcastle United,2022/2023,6,9,0.75,0.15,0.10,0.60,0.40,31/08/2022,3.10,2.56,0.54,2.02,7.00,7.60,5.0,16.0,4.00,3.00
21,7704,Leicester City,Manchester United,2022/2023,4,8,0.28,0.25,0.47,0.57,0.43,01/09/2022,2.99,1.21,1.78,-0.57,6.95,7.67,NaN,NaN,9.50,8.00
22,7704,Everton,Liverpool,2022/2023,11,8,0.12,0.18,0.70,0.60,0.40,03/09/2022,3.10,0.65,2.45,-1.80,6.82,7.68,5.0,7.0,4.50,11.50
23,7704,Aston Villa,Manchester City,2022/2023,10,3,0.13,0.18,0.69,0.62,0.38,03/09/2022,3.16,0.70,2.46,-1.76,7.00,7.70,1.0,6.0,5.00,7.50
24,7704,Brighton & Hove Albion,Leicester City,2022/2023,5,10,0.51,0.28,0.21,0.50,0.50,04/09/2022,2.66,1.73,0.93,0.80,7.12,7.50,NaN,NaN,NaN,NaN
25,7704,Manchester United,Arsenal,2022/2023,11,3,0.47,0.26,0.27,0.56,0.44,04/09/2022,2.94,1.76,1.18,0.58,7.04,7.60,13.0,7.5,3.00,5.50
26,7704,Fulham,Chelsea,2022/2023,8,2,0.24,0.25,0.51,0.52,0.48,12/01/2023,2.76,1.01,1.75,-0.74,7.19,7.42,7.0,5.0,7.00,6.00
27,7704,Manchester City,Tottenham Hotspur,2022/2023,4,8,0.72,0.17,0.12,0.63,0.37,19/01/2023,3.20,2.58,0.66,1.92,7.22,7.22,NaN,NaN,10.50,7.00
28,7704,West Ham United,Newcastle United,2022/2023,7,7,0.29,0.29,0.42,0.46,0.54,05/04/2023,2.53,1.10,1.43,-0.33,7.11,7.25,11.0,5.0,6.50,4.50
29,7704,Crystal Palace,Manchester United,2022/2023,9,3,0.23,0.27,0.50,0.51,0.49,18/01/2023,2.71,0.99,1.72,-0.73,7.10,7.24,4.0,2.0,9.00,6.67
30,7704,Leeds United,Nottingham Forest,2022/2023,2,8,0.50,0.26,0.24,0.55,0.45,04/04/2023,2.89,1.82,1.07,0.75,7.17,7.10,4.5,9.0,NaN,NaN
31,7704,Aston Villa,Southampton,2022/2023,8,7,0.47,0.25,0.28,0.49,0.51,16/09/2022,2.62,1.56,1.06,0.50,7.00,7.13,5.5,4.5,NaN,NaN
32,7704,Wolverhampton Wanderers,Manchester City,2022/2023,7,6,0.11,0.17,0.72,0.60,0.40,17/09/2022,3.10,0.60,2.50,-1.90,7.03,7.12,3.0,4.0,4.33,8.33
33,7704,Everton,West Ham United,2022/2023,8,10,0.33,0.29,0.38,0.46,0.54,18/09/2022,2.53,1.20,1.33,-0.13,7.03,7.09,8.0,7.5,5.00,10.00
34,7704,Tottenham Hotspur,Leicester City,2022/2023,8,2,0.64,0.20,0.17,0.59,0.41,17/09/2022,3.06,2.26,0.83,1.43,7.06,7.18,8.0,10.0,10.00,5.00

In [37]:
# df6.to_csv(r'C:\Users\MikeD\Documents\Betting\Python Analysis\FS_Leagues_Goal_Kicks_DF_part_Prepared.csv')
# print('DF written to csv successfully')

In [38]:
df6.shape

(6879, 22)

In [39]:
df6.isnull().sum()

competition_id        0
home_name             0
away_name             0
season                0
team_a_goalkicks      0
team_b_goalkicks      0
HW_%                  0
X_%                   0
AW_%                  0
O_2.5_%               0
U_2.5_%               0
date                  0
Exp                   0
HG_Exp                0
AG_Exp                0
Sup Exp               0
h_lg_r_av            34
a_lg_r_av            34
ht_h_r_av_f         640
ht_h_r_av_ag        640
at_a_r_av_f         640
at_a_r_av_ag        640
dtype: int64

In [40]:
df6.dropna(inplace=True)

In [41]:
df6.shape

(6050, 22)

In [42]:
# remove top 30 rows of each comp id - running averages will be skewed by lack of data
def remove_top_30_rows(group):
    return group.iloc[30:]

# Apply the function to each group within each competition_id
df_filtered = df6.groupby('competition_id').apply(remove_top_30_rows)

# Reset the index of the resulting DataFrame
df6 = df_filtered.reset_index(drop=True)

In [43]:
df6.shape

(5030, 22)

In [44]:
df6.reset_index(drop=True,inplace=True)
df6.head()

,competition_id,home_name,away_name,season,team_a_goalkicks,team_b_goalkicks,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp,h_lg_r_av,a_lg_r_av,ht_h_r_av_f,ht_h_r_av_ag,at_a_r_av_f,at_a_r_av_ag
0,161,West Ham United,Leicester City,2017/2018,8,9,0.39,0.29,0.31,0.47,0.53,24/11/2017,2.56,1.37,1.16,0.21,7.19,9.00,5.50,9.00,11.50,6.00
1,161,Liverpool,Chelsea,2017/2018,10,9,0.43,0.27,0.30,0.58,0.42,25/11/2017,3.03,1.71,1.32,0.39,7.20,9.00,8.00,9.50,7.00,8.00
2,161,Southampton,Everton,2017/2018,4,12,0.50,0.30,0.20,0.43,0.57,26/11/2017,2.40,1.56,0.84,0.72,7.25,9.00,7.00,12.00,13.50,6.00
3,161,Huddersfield Town,Manchester City,2017/2018,15,7,0.09,0.13,0.78,0.64,0.36,26/11/2017,3.26,0.51,2.75,-2.24,7.20,9.05,5.50,9.00,2.67,10.67
4,161,Watford,Manchester United,2017/2018,7,10,0.15,0.23,0.62,0.52,0.48,28/11/2017,2.76,0.73,2.03,-1.30,7.33,9.02,7.33,8.67,10.00,7.00

#### Copy DF to file 'Leagues_Data_Combined'

In [46]:
df6.to_csv(r'C:\Users\MikeD\Documents\Betting\Python Analysis\FS_Leagues_Goal_Kicks_DF_Prepared.csv')
print('DF written to csv successfully')

DF written to csv successfully